<div class="row">
  <div class="col-sm-12 topnav">
    <nav class="navbar navbar-default heading">
      <%= link_to @title, @path_name, class: "navbar-brand curr-title" %>
      <a href="#" id="cart" class="navbar-right">
        <i class="fa fa-shopping-cart"></i> Cart
        <span class="badge"><%= @size_of_cart ? @size_of_cart : 0 %></span>
      </a>
      <% if @title == "ITEMS" || @title == "USERS" || @title == "SCHOOLS" || @title == "ORDERS" %>
        <%= render partial: "partials/search_box", locals: {title: @title, path_name: @path_name} %>
      <% else %>
        <%= render partial: "partials/search_box", locals: {title: "ITEMS", path_name: "/items"} %>
      <% end %>
    </nav>
  </div>
</div>

<%= render :partial => "partials/cart_dropdown" %>
