<!-- <ul class="dropdown">
  <li><%= link_to "Item List", items_path %></li>
  <li><%= link_to "Reorder List", home_path %></li>
  <li><%= link_to "Add an Item", new_item_path %></li>
</ul> -->

<!-- <h2 id="name">{{user.first_name}} {{user.last_name}}</h2>
    <img class="img-rounded" src="{% url 'get-image' user.username %}"
         alt="{{user.username}}'s profile img" width="60px" onerror="this.style.display='none'"><hr> -->

<!-- <form method="post" action="{% url 'search' %}">
    <input name="cid" type="text" class="form-control" placeholder="Search a course"><br>
    <input class="btn btn-sm btn-success" type="submit" value="Search"><hr>
    {% csrf_token %}
</form> -->

<%= link_to image_tag("icon.png", border: 0), {action: 'home', controller: 'home'}, {class: 'sidebar-logo'} %>
<!-- <%= image_tag("icon.png", :alt => "rss feed") %> -->
<!-- <img src="app/assets/images/icon.png" alt="rss feed" /> -->
<ul class="nav nav-sidebar">
  <li class="sidebar_item"><%= link_to "Home", home_path %></li>
  <li class="sidebar_item"><%= link_to "Items", items_path %></li>
  <li class="sidebar_item"><%= link_to "Purchases", purchases_path %></li>
  <li class="sidebar_item"><%= link_to "Prices", item_prices_path %></li>
</ul>
<br><br>
