<%= link_to image_tag("chess_store_logo.png", border: 0), {action: 'home', controller: 'home'}, {class: 'sidebar-logo'} %>
<div id='main-sidebar'>
  <ul class="nav nav-sidebar">
    <% if !logged_in? %>
      <li class="sidebar_item"><%= link_to "Home", home_path %></li>
      <li class="sidebar_item"><%= link_to "Browse Items", items_path %></li>
    <% elsif logged_in? %>
      <li class="sidebar_item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="sidebar_item"><%= link_to "Browse Items", items_path %></li>
      <li class="sidebar_item"><%= link_to "Orders", orders_path %></li>
      <li class="sidebar_item"><%= link_to "Schools", schools_path %></li>
      <li class="sidebar_item"><%= link_to "Users", users_path %></li>
      <%= link_to "Logout", logout_path, class: "btn btn-primary logout-btn" %>
    <% end %>
  </ul>
  <br><br>
</div>
<%= render :partial => "partials/flash" %>
