<% if logged_in? %>
  <%= link_to image_tag("chess_store_logo.png", border: 0), dashboard_path, {class: 'sidebar-logo'} %>
<% else %>
  <%= link_to image_tag("chess_store_logo.png", border: 0), home_path, {class: 'sidebar-logo'} %>
<% end %>
<div id='main-sidebar'>
  <ul class="nav nav-sidebar">
    <% if !logged_in? %>
      <li class="sidebar_item"><%= link_to "HOME", home_path %></li>
      <li class="sidebar_item"><%= link_to "BROWSE ITEMS", items_path %></li>
    <% else %>
      <li class="sidebar_item"><%= link_to "DASHBOARD", dashboard_path %></li>
      <li class="sidebar_item"><%= link_to "MY PROFILE", user_path(current_user) %></li>
      <li class="sidebar_item"><%= link_to "BROWSE ITEMS", items_path %></li>
      <% if current_user.role?(:admin) || current_user.role?(:manager) %>
        <li class="sidebar_item"><%= link_to "ORDERS", orders_path %></li>
        <li class="sidebar_item"><%= link_to "SCHOOLS", schools_path %></li>
        <li class="sidebar_item"><%= link_to "USERS", users_path %></li>
      <% elsif current_user.role?(:shipper) %>
        <li class="sidebar_item"><%= link_to "ORDERS", orders_path %></li>
      <% end %>
      <%= link_to "Logout", logout_path, class: "btn btn-primary logout-btn" %>
    <% end %>
  </ul>
  <br><br>
</div>
<%= render :partial => "partials/flash" %>
