<%= link_to image_tag("chess_store_logo.png", border: 0), {action: 'home', controller: 'home'}, {class: 'sidebar-logo'} %>
<!-- <%= image_tag("icon.png", :alt => "rss feed") %> -->
<!-- <img src="app/assets/images/icon.png" alt="rss feed" /> -->
<!-- <%= form_tag(items_path, :method => "get", id: "search-form") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search Items", class: "form-control search-box" %>
      <span class="input-group-btn">
        <%= submit_tag "Go!", :name => nil, class: "btn btn-secondary search-btn" %>
      </span>
    </div>
<% end %> -->
<ul class="nav nav-sidebar">
  <% if !logged_in? %>
    <li class="sidebar_item"><%= link_to "Home", home_path %></li>
    <li class="sidebar_item"><%= link_to "Browse Items", items_path %></li>
  <% elsif logged_in? %>
    <li class="sidebar_item"><%= link_to "Dashboard", dashboard_path %></li>
    <li class="sidebar_item"><%= link_to "Browse Items", items_path %></li>
    <li class="sidebar_item"><%= link_to "Orders", orders_path %></li>
    <li class="sidebar_item"><%= link_to "Schools", schools_path %></li>
    <li class="sidebar_item"><%= link_to "Users", users_path %></li>
  <% end %>
  <!-- <li class="sidebar_item"><%= link_to "Purchases", purchases_path %></li>
  <li class="sidebar_item"><%= link_to "Prices", item_prices_path %></li> -->
  <!-- <li class="sidebar_item">
    <a href="#"><i class="material-icons" style="color:white; font-size: 1.1em; padding-top: 4px;">shopping_cart</i></a>
  </li> -->
</ul>
<br><br>
