<div class="row">
  <% unless current_user.role?(:customer) %>
  <div class="col-sm-2">
    <h5><strong>Ship To</strong><br /><br /><%= render partial: "schools/address_format", locals: {school: order.school} %></h5>
  </div>
  <div class="col-sm-10">
  <% else %>
  <div class="col-sm-12">
  <% end %>
    <table class="table fast-order-items-table" style="width:100%;">
      <tbody>
        <% order.order_items.each do |o| %>
          <tr>
            <div class="cart-img-content">
              <td align="center">
                <div class="cart-item-img">
                  <% unless o.item.picture %>
                    <%= link_to image_tag('placeholder.jpg', :alt => o.item.name), item_path(o.item) %>
                  <% else %>
                    <%= link_to image_tag(o.item.picture, :alt => o.item.name), item_path(o.item) %>
                  <% end %>
                </div>
              </td>
              <td><p class="cart-item-name"><strong>Quantity: <%= o.quantity %><br /><%= link_to o.item.name, item_path(o.item) %></strong></p></td>
              <td>
                <% if o.shipped_on.nil? %>
                  <p class="cart-item-price">Not Shipped
                <% else %>
                  <p class="cart-item-price">Shipped on <%= o.shipped_on.strftime('%m/%d/%y') %>
                <% end %>
              </td>
              <td align="center">
                <% unless current_user.role?(:customer) %>
                    <% if o.shipped_on.nil? %>
                      <%= button_to "Ship", toggle_path(o, order_id: order.id, status: "shipped", from_dashboard: true), class: "btn btn-primary cart-rm-item-btn", remote: true, method: 'patch' %>
                    <% else %>
                      <%= button_to "Unship", toggle_path(o, order_id: order.id, status: "unshipped", from_dashboard: true), class: "btn btn-primary cart-rm-item-btn", remote: true, method: 'patch' %>
                    <% end %>
                <% else %>
                  <% if o.item.active %>
                    <%= link_to add_item_path(id: o.item.id, from_dashboard: true), method: :post, class: "btn btn-primary order-show-btn", remote: true do %>
                      <span>ADD TO CART</span>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
