<div id="login" class="row">
  <div class="col-sm-8">
    <div class="top">
      <div class="form-top" style="background-color:#656EA9">
        <div class="form-top-left" style="color:white;">
          <h3>Register</h3>
          <p>In order to place orders from our store, please register for an account.</p>
        </div>
        <div class="form-top-right">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
      <div class="form-bottom">
        <%= simple_form_for @user, html: { class: 'register-form', multipart: true } do |f| %>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :first_name, "First Name", style: "padding-left:0px;text-align:left;" %>
            <%= f.input :first_name, input_html: {class: "form-control", :style => 'padding: 0 20px 0 20px;'}, label: false %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :last_name, "Last Name", style: "padding-left:0px;text-align:left;" %>
            <%= f.input :last_name, input_html: {class: "form-control", :style => 'padding: 0 20px 0 20px;'}, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :email, "Email", style: "padding-left:0px;text-align:left;" %>
            <%= f.input :email, input_html: {class: "form-control", :style => 'padding: 0 20px 0 20px;'}, label: false %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :phone, "Phone", style: "padding-left:0px;text-align:left;" %>
            <%= f.input :phone, input_html: {class: "form-control", :style => 'padding: 0 20px 0 20px;'}, label: false %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :username, "Username", style: "padding-left:0px;text-align:left;" %>
          <%= f.input :username, input_html: {class: "form-control", :style => 'padding: 0 20px 0 20px;'}, label: false %>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :password, "Password", style: "padding-left:0px;text-align:left;" %>
            <%= f.input :password, input_html: {class: "form-control"}, label: false %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :password_confirmation, "Confirm Password", style: "padding-left:0px;text-align:left;width:130px;" %>
            <%= f.input :password_confirmation, input_html: {class: "form-control"}, label: false %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign Up", :class => 'btn register' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
