<%= simple_form_for @user, html: { class: 'new-item-form form-horizontal center', multipart: true } do |f| %>
  <h3 align="center">Edit User Form</h3>
  <br />
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :first_name, "First Name", class: "col-sm-2 col-form-label", style: "padding-left:0px;text-align:left;" %>
      <%= f.input :first_name, input_html: {class: "form-control", style: "width: 100%;"}, label: false %>
    </div>
    <div class="col-sm-6">
      <%= f.label :last_name, "Last Name", class: "col-sm-2 col-form-label", style: "padding-left:0px;text-align:left;" %>
      <%= f.input :last_name, input_html: {class: "form-control", style: "width: 100%;"}, label: false %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :email, "Email", class: "col-sm-2 col-form-label fix-label", style: "padding-left:0px;text-align:left;" %>
      <%= f.input :email, input_html: {class: "form-control"}, label: false %>
    </div>
    <div class="col-sm-6">
      <%= f.label :phone, "Phone", class: "col-sm-2 col-form-label", style: "padding-left:0px;text-align:left;" %>
      <%= f.input :phone, input_html: {class: "form-control"}, label: false %>
    </div>
  </div>
  <% if current_user.role?(:admin) || current_user.role?(:manager) %>
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :role, "Role", class: "col-sm-2 col-form-label", style: "padding-left:0px;text-align:left;width:100%;" %>
        <%= f.input :role, collection: User::ROLES, include_blank: true, input_html: {class: "form-control"}, label: false %>
      </div>
    </div>
  <% end %>
  <br />
  <div class="form-actions" style="margin-left:-15px;">
    <div class="col-sm-12">
      <%= f.submit nil, :class => 'btn btn-primary', :style => "margin: 0 auto;width:30%;" %>
    </div>
  </div>
<% end %>
