<div id="login" class="row">
  <div class="col-sm-7">
    <div class="form-box top">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Register</h3>
                <p>In order to place orders from our store, please register for an account.</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
          <%= form_tag users_path, :class => 'register-form', :role => 'form' do %>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= label_tag :first_name %>
              <%= text_field_tag :first_name, params[:first_name], :class => 'form-control' %>
            </div>
            <div class="col-sm-6 form-group">
              <%= label_tag :last_name %>
              <%= text_field_tag :last_name, params[:last_name], :class => 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= label_tag :email %>
              <%= text_field_tag :email, params[:email], :class => 'form-control' %>
            </div>
            <div class="col-sm-6 form-group">
              <%= label_tag :phone %>
              <%= text_field_tag :phone, params[:phone], :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :username %>
            <%= text_field_tag :username, params[:username], :class => 'form-control' %>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= label_tag :password %>
              <%= password_field_tag :password, params[:password], :class => "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <%= label_tag :password_confirmation %>
              <%= password_field_tag :password_confirmation, params[:password_confirmation], :class => "form-control" %>
            </div>
          </div>
          <div class="actions">
            <%= link_to "Sign Up", new_user_path, :class => "btn register" %>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
