<%= render partial: "checkout_cart" %>

<%= simple_form_for @order, html: { class: 'new-item-form form-horizontal center', multipart: true } do |f| %>
  <br />
  <div class="form-group">
    <%= f.label :school_id, "School", class: "col-sm-2 col-form-label", style: "text-align: left;" %>
    <div class="col-sm-6">
      <%= f.select :school_id, @schools_dropdown, {}, {class: "form-control"} %>
    </div>
  </div>
  <br />
  <div class="row form-group" style="width: 100%;">
    <div class="col-sm-6">
      <%= f.label :credit_card_number, "Credit Card Number", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.text_field :credit_card_number, class: "form-control" %>
    </div>
    <div class="col-sm-3">
      <%= f.label :expiration_month, "Month", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.select :expiration_month, 1..12, {}, {class: "form-control"} %>
    </div>
    <div class="col-sm-3">
      <%= f.label :expiration_year, "Year", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.select :expiration_year, Date.current.year..8.years.from_now.year, {}, {class: "form-control", style: "padding: 5px;"} %>
    </div>
  </div>
  <br />
  <div class="row form-actions">
    <div class="col-sm-6">
      <%= f.submit "Place Order", :class => 'btn btn-primary', :style => "margin-left: 0px;width: 100%;" %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'Cancel', cart_path, :class => 'btn btn-primary', :style => "width: 100%;" %>
    </div>
  </div>
<% end %>
