<table id="show-cart" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items_in_cart.each do |i| %>
      <tr>
        <div class="cart-img-content">
          <td align="center">
            <div class="cart-item-img">
              <% unless i.item.picture %>
                <%= link_to image_tag('placeholder.jpg', :alt => i.item.name), item_path(i.item) %>
              <% else %>
                <%= link_to image_tag(i.item.picture, :alt => i.item.name), item_path(i.item) %>
              <% end %>
            </div>
          </td>
          <td><p class="cart-item-name"><strong><%= link_to i.item.name, item_path(i.item) %></strong></p></td>
          <td><p class="cart-item-quantity"><%= i.quantity %></p></td>
          <td><p class="cart-item-price"><%= number_to_currency i.item.current_price %></p></td>
          <td><p class="cart-item-price"><%= number_to_currency i.subtotal(Date.current) %></p></td>
        </div>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td><strong>Shipping Costs</strong></td>
      <td></td>
      <td></td>
      <td><%= number_to_currency @shipping_cost %></td>
    </tr>
    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td><%= number_to_currency @grand_total %></td>
    </tr>
  </tbody>
</table>
<%= simple_form_for @order, html: { class: 'new-item-form form-horizontal center', multipart: true } do |f| %>
  <br />
  <div class="form-group">
    <%= f.label :school_id, "School", class: "col-sm-2 col-form-label", style: "text-align: left;" %>
    <div class="col-sm-6">
      <%= f.select :school_id, @schools_dropdown, input_html: {class: "form-control", style: "margin-left: 20px;"}, label: false %>
    </div>
  </div>
  <br />
  <div class="row form-group" style="width: 100%;">
    <div class="col-sm-6">
      <%= f.label :credit_card_number, "Credit Card Number", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.text_field :credit_card_number, class: "form-control" %>
    </div>
    <div class="col-sm-3">
      <%= f.label :expiration_month, "Month", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.select :expiration_month, 1..12, input_html: {class: "form-control"} %>
    </div>
    <div class="col-sm-3">
      <%= f.label :expiration_year, "Year", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.select :expiration_year, Date.current.year..8.years.from_now.year, input_html: {class: "form-control", style: "padding: 5px;"} %>
    </div>
  </div>
  <br />
  <div class="row form-actions">
    <div class="col-sm-6">
      <%= f.submit "Place Order", :class => 'btn btn-primary', :style => "margin-left: 0px;width: 100%;" %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'Cancel', cart_path, :class => 'btn btn-primary', :style => "width: 100%;" %>
    </div>
  </div>
<% end %>
