<%= render partial: "checkout_cart" %>

<%= simple_form_for @order, html: { class: 'new-item-form form-horizontal center', multipart: true } do |f| %>
  <br />
  <div class="form-group" style="width: 100%;">
    <div class="col-sm-6">
      <%= f.label :school_id, "School", class: "col-sm-2 col-form-label", style: "text-align:left;padding-left:0px;" %>
      <%= f.input :school_id, collection: @all_schools, :label_method => lambda { |school| "#{school.name} - #{school.street_1}" }, value_method: :id, label: false, include_blank: true, input_html: {class: "form-control"} %>
    </div>
  </div>
  <br />
  <div class="row form-group" style="width: 100%;">
    <div class="col-sm-6">
      <%= f.label :credit_card_number, "Credit Card Number", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.input :credit_card_number, input_html: {class: "form-control"}, label: false %>
    </div>
    <div class="col-sm-3">
      <%= f.label :expiration_month, "Month", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.input :expiration_month, collection: 1..12, input_html: {class: "form-control"}, label: false %>
    </div>
    <div class="col-sm-3">
      <%= f.label :expiration_year, "Year", class: "col-form-label", style: "text-align:left;width:100%;" %>
      <%= f.input :expiration_year, collection: Date.current.year..8.years.from_now.year, input_html: {class: "form-control", style: "padding: 5px;"}, label: false %>
    </div>
  </div>
  <br />
  <div class="row form-actions">
    <div class="col-sm-6">
      <%= f.submit "Place Order", :class => 'btn btn-primary', :style => "margin-left: 0px;width: 100%;" %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'Cancel', cart_path, :class => 'btn btn-primary', :style => "width: 100%;" %>
    </div>
  </div>
<% end %>

<br />
<br />
<br />
