<div class="show-container">
  <h1>Order <span style="text-decoration:underline"><%= @order.id %></span> by <%= link_to @order.user.proper_name, user_path(@order.user) %> to <%= link_to @order.school.name, school_path(@order.school) %></h1>
  <div class="row">
    <div class="col-sm-2">
      <h4><strong>Date</strong></h4>
      <h5 style="color:gray;"><%= @order.date %></h5>
      <h4><strong>Grand Total</strong></h4>
      <h5 style="color:gray;"><%= number_to_currency @order.grand_total %></h5>
      <br />
      <%= link_to "Cancel", order_path(@order), method: :delete, class: "btn btn-primary delete-order-btn" %>
    </div>
    <div class="col-sm-10">
      <%= render partial: "order_items_table" %>
    </div>
  </div>
</div>
