<%= simple_nested_form_for @item, html: { class: 'new-item-form form-horizontal center', multipart: true } do |f| %>
  <h3 align="center">New Item Form</h3>
  <br />
  
  <%= render partial: "main_item_form", locals: {f: f} %>

  <div class="row">
    <div class="col-sm-6">
      <h4>Item Prices for this Item</h4>
      <%= f.simple_fields_for :item_prices do |ip_form| %>
        <%= render :partial => "item_price_fields", :locals => { :f => ip_form } %>
      <% end %>
      <p><%= f.link_to_add("Add Item Price", :item_prices, :class => 'btn btn-default') %></p>
    </div>
    <div class="col-sm-6">
      <h4 style="text-align: right; margin-right: 40px;">Purchases for this Item</h4>
      <div id="item-item-prices">
        <%= f.simple_fields_for :purchases do |p_form| %>
          <%= render :partial => "purchase_fields", :locals => { :f => p_form } %>
        <% end %>
        <p><%= f.link_to_add("Add Purchase", :purchases, :class => 'btn btn-default', style: "margin-left: 56%;") %></p>
      </div>
    </div>
  </div>
  <br />

  <div class="row form-actions" style="width: 73%; margin: 0 auto;">
    <div class="col-sm-6">
      <%= f.submit nil, :class => 'btn btn-primary', :style => "margin-left: 0px;width: 100%;" %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'Cancel', items_path, :class => 'btn btn-primary', :style => "width: 100%;" %>
    </div>
  </div>
  <br />
  <br />
<% end %>
