<%= f.link_to_remove("x") %>
<div class="row">
  <div class="col-sm-4">
    <%= f.label :price, "Price", class: "col-form-label", style: "width: auto;" %>
    <%= f.input :price, input_html: {class: "form-control"}, label: false %>
  </div>
  <div class="col-sm-8">
    <%= f.label :category, "Category", class: "col-form-label", style: "width: auto;" %>
    <%= f.input :category, collection: ItemPrice::CATEGORIES, include_blank: true, input_html: {class: "form-control"}, label: false %>
  </div>
  <%= f.input :start_date, as: :hidden, input_html: { value: Date.current } %>
</div>
