<div class="row">
  <div class="col-sm-12">
    <table class="items">
      <% items.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |item| %>
            <td align="center">
              <div class="img-content">
                <div class="item-img">
                  <% unless item.picture %>
                    <%= link_to image_tag('placeholder.jpg', :alt => item.name), item_path(item) %>
                  <% else %>
                    <%= link_to image_tag(item.picture, :alt => item.name), item_path(item) %>
                  <% end %>
                  <% if item.active && logged_in? && (current_user.role?(:admin) || current_user.role?(:customer)) %>
                    <%= link_to add_item_path(:id => item.id), method: :post, class: "add-to-cart-btn" do %>
                      <div class="text">ADD TO CART</div>
                    <% end %>
                  <% end %>
                </div>
                <p class="item-name"><strong><%= link_to item.name, item_path(item) %></strong></p>
                <p class="item-price"><%= number_to_currency item.current_price %></p>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
