<div class="card" id="purchase-list">
  <h4 class="card-header" style="text-decoration:underline;">Purchases</h4>
  <h5><strong>Inventory Level </strong><%= @item.inventory_level.nil? ? 'N/A' : @item.inventory_level %></h5>
  <h5><strong>Reorder Level </strong><%= @item.reorder_level.nil? ? 'N/A' : @item.reorder_level %></h5>
  <% unless @purchase_history.empty? %>
  <div class="card-block">
    <table class="ph table-hover">
      <thead>
        <tr class="ph-heading">
          <th>Quantity</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_history.each do |change| %>
          <tr>
            <td><%= change.quantity %></td>
            <td><%= change.date.strftime('%m/%d/%y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
  </div>
  <% else %>
  <p style="color: #ABB0BE;">No Purchase History</p>
  <% end %>
  <%= link_to(new_purchase_path(item_id: @item.id), id: 'new_purchase_link', class: 'btn btn-primary', remote: true) do %>
    Add Purchase
  <% end %>
</div>
