<div class="row">
  <div class="col-sm-12 topnav">
    <nav class="navbar navbar-default heading">
      <%= link_to "Items", items_path, class: "navbar-brand curr-title" %>
      <a href="#" id="cart" class="navbar-right"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></a>
      <%= form_tag(items_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Items", class: "form-control search-box" %>
        </div>
        <%= submit_tag "Go!", :name => nil, class: "btn btn-default search-btn" %>
      <% end %>
    </nav>
  </div>
</div>

<div class="sc-container">
  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text">$2,229.97</span>
      </div>
    </div> <!--end shopping-cart-header -->

    <ul class="shopping-cart-items" style="list-style: none;">
      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
        <span class="sc-item-name">Sony DSC-RX100M III</span>
        <span class="sc-item-price">$849.99</span>
        <span class="sc-item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
        <span class="sc-item-name">KS Automatic Mechanic...</span>
        <span class="sc-item-price">$1,249.99</span>
        <span class="sc-item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
        <span class="sc-item-name">Kindle, 6" Glare-Free To...</span>
        <span class="sc-item-price">$129.99</span>
        <span class="sc-item-quantity">Quantity: 01</span>
      </li>
    </ul>

    <a href="#" class="button" style="color:white;text-decoration:none;">Checkout</a>
  </div> <!--end shopping-cart -->
</div> <!--end container -->

<div class="row">
  <div class="col-sm-12">
    <table class="items" id="effect-6">
      <% @active_items.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |item| %>
            <td align="center">
              <div class="img-content">
                <div class="item-img">
                  <%= link_to image_tag(item.picture, :alt => item.name), item_path(item) %>
                  <a href="#" class="middle">
                    <div class="text">ADD TO CART</div>
                  </a>
                </div>
                <p class="item-name"><strong><%= link_to item.name, item_path(item) %></strong></p>
                <p class="item-price"><%= number_to_currency item.current_price %></p>
                <!-- <i class="material-icons add">add</i> -->
              </div>
            </td>
          <% end %>
        </tr>

      <% end %>
    </table>
  </div>
</div>
