<div class="row">
  <div class="col-sm-12 topnav">
    <nav class="navbar navbar-default heading">
      <%= link_to "ITEMS", items_path, class: "navbar-brand curr-title" %>
      <a href="#" id="cart" class="navbar-right">
        <i class="fa fa-shopping-cart"></i> Cart
        <span class="badge"><%= @size_of_cart ? @size_of_cart : 0 %></span>
      </a>
      <%= form_tag(items_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Items", class: "form-control search-box" %>
        </div>
        <%= submit_tag "Go!", :name => nil, class: "btn btn-default search-btn" %>
      <% end %>
    </nav>
  </div>
</div>

<%= render :partial => "partials/cart_dropdown" %>

<div class="row">
  <div class="col-sm-12">
    <table class="items" id="effect-6">
      <% @active_items.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |item| %>
            <td align="center">
              <div class="img-content">
                <div class="item-img">
                  <% unless item.picture %>
                    <%= link_to image_tag('placeholder.jpg', :alt => item.name), item_path(item) %>
                  <% else %>
                    <%= link_to image_tag(item.picture, :alt => item.name), item_path(item) %>
                  <% end %>
                  <%= link_to add_item_path(:id => item.id), method: :post, class: "add-to-cart-btn" do %>
                    <div class="text">ADD TO CART</div>
                  <% end %>
                </div>
                <p class="item-name"><strong><%= link_to item.name, item_path(item) %></strong></p>
                <p class="item-price"><%= number_to_currency item.current_price %></p>
              </div>
            </td>
          <% end %>
        </tr>

      <% end %>
    </table>
  </div>
</div>
