<div id="items-table-container">
  <% if logged_in? && (current_user.role?(:admin) || current_user.role?(:manager)) %>
    <%= link_to "Add Item", new_item_path, class: "btn btn-primary add-item-btn" %>
  <% end %>
  <ul class="nav nav-pills nav-fill">
    <li class="active"><a data-toggle="pill" href="#boards">Boards</a></li>
    <li><a data-toggle="pill" href="#pieces">Pieces</a></li>
    <li><a data-toggle="pill" href="#clocks">Clocks</a></li>
    <li><a data-toggle="pill" href="#supplies">Supplies</a></li>
    <li><a data-toggle="pill" href="#inactive">Inactive Items</a></li>
  </ul>

  <div class="tab-content">
    <div id="boards" class="tab-pane fade in active">
      <%= render partial: "items_table", locals: {items: @boards} %>
    </div>
    <div id="pieces" class="tab-pane fade">
      <%= render partial: "items_table", locals: {items: @pieces} %>
    </div>
    <div id="clocks" class="tab-pane fade">
      <%= render partial: "items_table", locals: {items: @clocks} %>
    </div>
    <div id="supplies" class="tab-pane fade">
      <%= render partial: "items_table", locals: {items: @supplies} %>
    </div>
    <div id="inactive" class="tab-pane fade">
      <%= render partial: "items_table", locals: {items: @inactive_items} %>
    </div>
  </div>
</div>
