<div class="show-container">
  <%= render :partial => "item_details" %>
  <div class="history-container">
    <div class="row">
      <div class="col-sm-4">
        <%= render :partial => "manufacturer_price_history" unless @manufacturer_price_history.empty?%>
      </div>
      <div class="col-sm-4">
        <%= render :partial => "wholesale_price_history" unless @wholesale_price_history.empty?%>
      </div>
      <div class="col-sm-4">
        <%= render :partial => "purchase_history" unless @wholesale_price_history.empty?%>
      </div>
    </div>
  </div>

  <%= render :partial => "similar_items" unless @similar_items.empty?%>

  <!-- Add buttons to list all, edit project or destroy object -->
  <!-- <%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %> -->
</div>
